[tool.poetry]
name = "jsonref"
version = "1.0.1"
description = "jsonref is a library for automatic dereferencing of JSON Reference objects for Python."
authors = ["Chase Sterling <chase.sterling@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "jsonref.py" },
    { include = "proxytypes.py" },
]
repository = "https://github.com/gazpachoking/jsonref"
documentation = "https://jsonref.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"

[tool.poetry_bumpversion.file."jsonref.py"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"