[tool.poetry]
name = "jsonref"
version = "0.4.dev0"
description = "jsonref is a library for automatic dereferencing of JSON Reference objects for Python."
authors = ["Chase Sterling <chase.sterling@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "jsonref.py" },
    { include = "proxytypes.py" },
]

[tool.poetry.dependencies]
python = "^3.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
